/* style.css — tons pastéis e bordas arredondadas */

body {
  background-color: #FFFDD0; /* creme pastel */
}

.stButton button {
  background-color: #AACCEE !important; /* azul pastel */
  border-radius: 8px !important;
}

.stSidebar {
  background-color: #FFD1DC !important; /* rosa pastel */
}

.stDataFrameWrapper, .stTable {
  background-color: #FEF8E7;
  border-radius: 8px;
  padding: 0.5rem;
}

.stApp > header {
  background-color: transparent;
}

.custom-header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #c0c0c0;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
